<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>

    <script type="text/javascript">
      $(function () {
        const app = new Vue({
          el: '#app',
          data: {
            socket: null,
            message: "",
            sessionId: null,
            messages: [],
          },
          methods: {
            sendMessage(event) {
              console.log(this.message);

              if (this.message) {
                this.socket.send(JSON.stringify({
                  type: "create_chat_message",
                  message: this.message,
                }));

                this.message = "";
              }
            },
            connect() {
              const socket = new WebSocket("wss://nij9jx7po5.execute-api.us-east-1.amazonaws.com/prod");
              socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log("Message :", data);
                switch (data.type) {
                  case "user_connected": {
                    this.sessionId = data.sessionId;
                  } break;
                  case "chat_message_created": {
                    this.messages.push({
                      message: data.message,
                      sessionId: data.sessionId,
                    });
                  } break;
                }
              };
              socket.onopen = (event) => {
                console.log("Open :", event);
              };
              socket.onerror = (event) => {
                console.log("Error :", event);
              };
              socket.onclose = (event) => {
                console.log("Close :", event);
              };
              this.socket = socket;
            }
          }
        });

        app.connect();

        window.app = app;
      });
    </script>
    <title>Quiz</title>
  </head>

  <body>
    <div id="app">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Quiz</h1>
          <div>SessionID: {{ this.sessionId }}</div>
          <div>
            <ul>
              <li v-for="message in messages">
                {{ message }}
              </li>
            </ul>
          </div>
          <div>
            <input type="text" v-model="message"/>
            <button class="btn btn-primary" v-on:click="sendMessage">Send</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>