<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <style>
      .login-page {
        position: fixed;
        width: 38%;
        height: 38%;
        margin: 24%;
        box-sizing: content-box;
        background: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3em 3em;
      }

      /* .canvas {
      } */
      .canvas svg {
        border: 1px solid black;
      }

    </style>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>

    <script type="text/javascript">
      $(function () {
        const app = new Vue({
          el: '#app',
          data: {
            socket: null,
            message: "",
            sessionId: null,
            messages: [],
            username: null,
            usernameInput: null,

            strokeColor: "#ff4ca6",
            strokeSize: 10,

            isMouseDown: false,

            strokes: [],
          },
          methods: {
            login(event) {
              // Connect
              const socket = new WebSocket(`wss://42miiaobvk.execute-api.ap-northeast-2.amazonaws.com/prod?userId=${this.usernameInput}`);
              socket.onopen = (event) => {
                console.log("Open :", event);
                // Login Success
                this.username = this.usernameInput;
              };
              socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log("Message :", data);
                switch (data.type) {
                  case "chat_message_created": {
                    this.messages.push({
                      message: data.message,
                      sessionId: data.sessionId,
                    });
                  } break;
                  case "stroke_created": {
                    // Draw locally,
                    this.strokes.push(data.stroke);
                  } break;
                }
              };
              // socket.onerror = (event) => {
              //   console.log("Error :", event);
              // };
              // socket.onclose = (event) => {
              //   console.log("Close :", event);
              // };
              this.socket = socket;
            },
            onCanvasMouseDown(event) {
              this.isMouseDown = true;
            },
            onCanvasMouseUp(event) {
              this.isMouseDown = false;
            },
            onCanvasMouseMove(event) {
              if (this.isMouseDown) {
                const stroke = {
                  x: event.offsetX,
                  y: event.offsetY,
                  color: this.strokeColor,
                  size: this.strokeSize,
                };

                console.log("COLOR : ", stroke);

                // Send Server
                this.socket.send(JSON.stringify({
                  type: "create_stroke",
                  stroke
                }));
              }
            },
            sendMessage(event) {
              console.log(this.message);

              if (this.message) {
                this.socket.send(JSON.stringify({
                  type: "create_chat_message",
                  message: this.message,
                }));

                this.message = "";
              }
            },
          }
        });

        window.app = app;
      });
    </script>
    <title>Quiz</title>
  </head>

  <body>
    <div id="app">
      <!-- login page -->
      <div v-if="username === null" class="login-page">
        <div class="container-fluid">
          <div class="row">
            <h1>Login</h1>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Username</label>
            <input type="text" class="form-control-plaintext" v-model="usernameInput"/>
          </div>
          <div class="row">
            <button class="btn btn-primary" v-on:click="login">Login</button>
          </div>
        </div>
      </div>

      <!-- logged in -->
      <div v-else>
        <div class="container-fluid">
          <div class="row">
            <h1 class="display-4">Quiz</h1>
            <div>@{{ username }}</div>
          </div>
          <div class="row">
            <!-- canvas-->
            <div class="col">
              <div class="drawing-tools">
                <div>
                  Color: <input v-model="strokeColor" type="color" />
                </div>
                <div>
                  Size: <input v-model="strokeSize" type="range" min="1" max="20" step="1" />
                </div>
              </div>
              <div class="canvas">
                <svg
                    style="width:500px; height: 500px"
                    @mousedown="onCanvasMouseDown"
                    @mouseup="onCanvasMouseUp"
                    @mousemove="onCanvasMouseMove"
                >
                  <g v-for="stroke of strokes">
                    <circle :cx="stroke.x" :cy="stroke.y" :r="stroke.size" :fill="stroke.color" />
                  </g>
                </svg>
              </div>
            </div>

            <!-- Message List -->
            <div class="col-4">
              <div class="container-fluid">
                <div class="row">
                  <ul>
                    <li v-for="message in messages">
                      {{ message }}
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <input type="text" v-model="message"/>
                  <button class="btn btn-primary" v-on:click="sendMessage">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>